<a href="https://colab.research.google.com/github/mario-i-caicedo-ai/Python_Minicurso/blob/main/Cuadernos_Jupyter/CL_I_ESTRUCTURAS_DE_DATOS_NATIVAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ¿Qué es Python?

* Python es un lenguaje de programación 
  * multipropósito
  * **interpretado** 
  * de **alto nivel** 
  * con un diseño que hace hincapié en la legibilidad de su código [gracias, entre otras cosas al uso de la **indentación**].

* Python aparece consistentemente como uno de los lenguajes de programación más populares. 

* Es un lenguaje de programación multiparadigma, ya que soporta parcialmente 
  * Programación imperativa
  * prientación a objetos,  y, 
  * en menor medida, programación funcional. 

* Los elementos del lenguaje apuntan a que los desarrolladores puedan escribir códigos claros tanto para proyectos pequeños como de gran escala.


* Creador del lenguaje: Guido van Rossum
* Fechas de liberación:
  * Python 0.9.0. 1991 
  * Python 2.0 2000 
  * Python 3.0 2008. Python 3... contiene revisiones muy importantes y en general no es compatible con 2....
  * La última versión de Python 2 (2.7.18) se descontinuó 2020.

## Tipos (en verdad: clases de datos) 

https://www.geeksforgeeks.org/python-data-types/

Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

* Numeric
  * **Enteros** int class
  * **Floats** float class
  * **Complex** complex class

* Sequence Type
  * **strings** str class
  * listas list class
  * tuplas tuple class

* Booleano

* SETS (conjuntos)

* Diccionarios

In [ ]:
I_1=12
I_2=4

F_1=2.4
F_2=3.14159

z_1=1.+1.j
z_2=1.-1.j

print(z_1*z_2)

(2+0j)

# Estructuras de datos nativas del lenguaje

* Las estructuras de datos no son otra cosa que: medios que permiten almacenar datos. Es decir, son elementos del lenguaje que se utilizan para almacenar conjuntos (o colecciones) de datos

Python posee cuatro estructuras de datos nativas:

* TUPLAS

* LISTAS

* DICCIONARIOS y

* CONJUNTOS (sets).

Lists, and tuples are ordered sequences of objects. 

list and tuples can contain any type of objects. 

Tuples are immutable

### Listas y tuplas.

* Listas y tuplas son indexadas (los índioces comienzan en 0)

* Las listas son **mutables**  (sus elementos pueden cambiar durante la ek¿jecución de un código), las tuplas son **inmutables**

* Las Lists utilizan []  y las tuplas ()

## **Tuplas** I

z_1 y z_2 son tuplas. Note que el paréntesis es opcional, pero su uso explóicito es recomendado en la práctica

In [ ]:
t_1=('h',1,'Colombia','las tuplas podemos contener cualquier tipo de dato') 

t_2=5,6,'Yo también soy una Tupla','poseo cuatro elementos (entradas)'

In [ ]:
print(t_1,'\n')

print(t_1[3],'\n')

print('El dato de índice 2:',t_1[2],', es de tipo',type(t_2[2]))

('h', 1, 'Colombia', 'las tuplas podemos contener cualquier tipo de dato')

las tuplas podemos contener cualquier tipo de dato

El dato de índice 2: Colombia , es de tipo <class 'str'>

In [ ]:
print(t_2,'\n')

print(t_2[2],'\n')

(5, 6, 'Yo también soy una Tupla', 'poseo cuatro elementos (entradas)')

Yo también soy una Tupla

## **Listas** I

L_1 es una lista.

In [ ]:
L_1=[1,2,'soy una lista y puedo contener cualquier tipo de dato',1.41424]

print('Me llamo L_1,',L_1[2],'\n')

print('Mi primera entrada, es decir, L_1[0], tiene el valor:',L_1[0],'y es tipo:',type(L_1[0]),'\n')

print(L_1[3],type(L_1[3]))

Me llamo L_1, soy una lista y puedo contener cualquier tipo de dato

Mi primera entrada, es decir, L_1[0], tiene el valor: 1 y es tipo: <class 'int'>

1.41424 <class 'float'>

### Un poco más acerca de las tuplas.
 
* Recordemos que a primera vista se parecen mucho a las listas pero: NO son muitables.

In [ ]:
tup=(1,2,3,4,'je-je') # Una 5-tupla
print(tup)

(1, 2, 3, 4, 'je-je')

Como las tuplas no pueden mutar, tratar de asignar un valor a una de sus entradas ya existentes genera un error

In [ ]:
tup(1)=5 # Rsta instrucción genera un error

SyntaxError: ignored

In [ ]:
print(tup[2])

3

### Python ofrece la comodidad de la 'list comprehensions'

FOR usual

In [ ]:
for p in range (0,4):
  print(tup[p])

1
2
3
4

For con list comprehension

In [ ]:
for x in tup: 
  print(x)

1
2
3
4
je-je

 tuplas de tuplas

In [ ]:
tup_tup=(tup,1) # tuples can also store tuples

print('tup_tup[0]=',tup_tup[0])
print()

print('tup_tup[0][4]=',tup_tup[0][4])
print()

print('tup_tup[1]=',tup_tup[1])

tup_tup[0]= (1, 2, 3, 4, 'je-je')

tup_tup[0][4]= je-je

tup_tup[1]= 1

## **Listas** II

In [ ]:
A=['A','B',1,'What'] # Recordar que las listas requieren corchetes como elementos contenedores

In [ ]:
print(A)
print('A[1]= ',A[1],' , ','A[2]= ',A[2]) # Imprimiendo (como antes) elementos de A

['A', 'B', 1, 'What']
A[1]=  B  ,  A[2]=  1

## Como Python es orientado a objetos, posee 'métodos' que aplican sobre sus clases.

El método append es un ejemplo

In [ ]:
A.append("Python") # The append method extends A by adding one element at it's end
print(A)

['A', 'B', 1, 'What', 'Python']

In [ ]:
# lists are MUTABLE
A[2]=10  #changing the third element of the list
print(A)

['A', 'B', 10, 'What', 'Python']

In [ ]:
A[2]='Los elelentos pueden cambiar con una asignación' # El tipo de objeto que se almaxcena en un elemento de una lista puede cambiar
print(A)

['A', 'B', 'Element types may change as asked', 'What', 'Python']

Método **insert**

In [ ]:
A.insert(2, "Soy un elemento nuevo ") # the insert method includes a new element at the specified position
#langs.insert(2, "Lua")
print(A)

NameError: ignored

In [ ]:
A.extend(("JavaScript", "ActionScript")) # In thos example, the extend method adds the two elements of a tuple at the end of A (extends A)
print(A)

['A', 'B', 'I am a new element', 10, 'What', 'Python', 'JavaScript', 'ActionScript']

In [ ]:
Axx = A.pop(3) #The pop() method removes and returns an element with a specified index or the last element if the index number is not given.
print(A)
print("{0} was removed".format(Axx))# I don't get this statement

#Ayy = A.pop()
#print("{0} was removed".format(Ayy))

#print(langs)

#Azz=A.remove("Ruby") #The remove() method removes a particular item from a list.
#print(Azz)

['A', 'B', 'I am a new element', 'ActionScript']
JavaScript was removed

### We may have lists of lists

In [ ]:
AA=[A] # AA is a list having a list inside
BB=[AA,A] #BB is a list of lists

In [ ]:
print('AA[0]= ',AA[0]) #printing the o element of AA, since AA[0] is a list itself (A) the statement prints A throughly.

AA[0]=  ['A', 'B', 'I am a new element', 10, 'What', 'Python', 'JavaScript', 'ActionScript']

In [ ]:
print('AA[0][0]= ',AA[0][0]) # this instructtion is fun, the apparently weird object AA[0][0] is the 0 element of the list AA[0]!

AA[0][0]=  A

In [ ]:
print(BB) # this one is GREAT FUN, notice the double [], it comes in because AA is a list with a list as unique element

In [ ]:
#We can iterate in two ways ....

C=[1,2,3,4,5,6,7,8,9,10]

for p in range (0,9):
  print(C[p])

In [ ]:
for number in C: # this one is gorgeous, we may put a name to the objects inside the list C and iterate over the names.
  print(number)

## **Diccionarios**

### Un diccionario es una colección de objetos desordenados, modificables e indexados. En Python, los diccionarios se escriben con corchetes y tienen claves (keys) y valores.

UN diccionario es muy parecido (casi idéntico) a un archivo de tipo json (ver más adelante).

In [ ]:
myfamily = {
  "child1" : {
    "name" : "MJ",
    "year" : 1990
  },
  "child2" : {
    "name" : "MS",
    "year" : 2003
  },
  "child3" : {
    "name" : "Sophie",
    "year" : 2005
  }
}
print(myfamily)

{'child1': {'name': 'MJ', 'year': 1990}, 'child2': {'name': 'MS', 'year': 2003}, 'child3': {'name': 'Sophie', 'year': 2005}}

In [ ]:
print(myfamily["child1"]['year']) #parsing is achieved by indexing

print(myfamily["child2"])

print(myfamily['child3']['name'])

#print(thisdict)

1990
{'name': 'MS', 'year': 2003}
Sophie

In [ ]:
# A dictionaries can contain lists
QM = {
  "student1" : {
    "name" : "Joe Di Maggio",
    "year" : 2015,
    "courses": ["classical mechanics 2","statistical mechanics","advanced electronics"] #this is a list
  },
  "student2" : {
    "name" : "Fred Flinstone",
    "year" : 2016,
    "courses": ["classical mechanics 2","statistical mechanics","advanced electronics"]
          },
  "student3" : {
    "name" : "Jane Jetson",
    "year" : 2017,
    "courses": ["relativity 2","statistical mechanics","advanced lab"]
         }
}
print(QM)

{'student1': {'name': 'Joe Di Maggio', 'year': 2015, 'courses': ['classical mechanics 2', 'statistical mechanics', 'advanced electronics']}, 'student2': {'name': 'Fred Flinstone', 'year': 2016, 'courses': ['classical mechanics 2', 'statistical mechanics', 'advanced electronics']}, 'student3': {'name': 'Jane Jetson', 'year': 2017, 'courses': ['relativity 2', 'statistical mechanics', 'advanced lab']}}

In [ ]:
print(QM["student3"]["name"],QM["student3"]["courses"])

print(QM["student3"]["name"],QM["student3"]["courses"][2])

Jane Jetson ['relativity 2', 'statistical mechanics', 'advanced lab']
Jane Jetson advanced lab

Dictionaries are similar to json files.

This is an example of a json file:

{
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "sky diving", "singing"],
    "age": 35,
    "children": [
        {
            "firstName": "Alice",
            "age": 6
        },
        {
            "firstName": "Bob",
            "age": 8
        }
    ]
}

¡¡It is almost a dictionary!!

In [ ]:
# I just gave a name to the json and ... got a dictionary

dd={
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "sky diving", "singing"],
    "age": 35,
    "children": [
        {
            "firstName": "Alice",
            "age": 6
        },
        {
            "firstName": "Bob",
            "age": 8
        }
    ]
}

In [ ]:
print(dd["hobbies"])

['running', 'sky diving', 'singing']

## **SETS**

Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [ ]:
conjunto_1={"ball","glove","bat"}
conjunto_2={"glove","ball","car","transformer"}
conjunto_3={"transformer","jeep","ball"}
conjunto_4={"avion"}

print(conjunto_1)

{'ball', 'glove', 'bat'}

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
for x in conjunto_1:
  print(x)

ball
glove
bat

In [ ]:
for x in conjunto_1:
  if x in conjunto_2:
    print(x,"ding")

ball ding
glove ding

In [ ]:
for x in conjunto_1:
  if x in conjunto_2 and x in conjunto_3:
    print(x,"ding")

ball ding

In [ ]:
set_1=conjunto_1.union(conjunto_3)

set_2=conjunto_1.intersection(conjunto_3)

set_3=conjunto_1.intersection(conjunto_4)

print(set_1)

print(set_2)

print(set_3)

{'glove', 'transformer', 'bat', 'jeep', 'ball'}
{'ball'}
set()